@charset "UTF-8";
/* 共通 */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.section-title {
  width: ;
  margin-bottom: 25px;
  text-align: center;
  color: #003DA5;
  font-size: 48px;
}
.section-title span {
  display: block;
  color: #333;
  font-size: 24px;
  font-weight: 300;
}

/* ヘッダー */
.header {
  width: 1500px;
  margin: 0 auto;
  padding: 20px 15px;
}
.header-inner {
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
h1 a {
  text-decoration: none;
  width: auto;
  color: #003DA5;
  font-size: clamp(20px, 3vw, 46px);
  font-weight: bold;
}
.main-nav {
  width: 750px;
  text-align: center;
}
.main-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}

/* --------------------------- */
/* トップページ */
/* --------------------------- */
/* ファーストビュー */
.main {
  width: 2000px;
  margin: 0;
  padding: 0 15px;
}
.main-bg-image {
  width: 100%;
  height: 700px;
  background: url("../images/visual-img01.png") center bottom / cover no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .bg-image {
   width: 1600px;
   height: 800px;
  }
}

/* コンセプト */
.concept {
  width: 100%;
  height: auto;
  margin-top: 90px;
  background: url("../images/visual-img02.png") center bottom / cover repeat;
  background-size: cover
}
.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 48px;
  padding: 0 100px;
}
.concept-image {
  padding: 0 96px;
}
.text {
  color: #333;
  font-size: 30px;
  font-weight: 300;
  line-height: 2;
  margin: 100px 0;
}
.concept-bg-image {
  padding-top: 155px;
}
.concept-bg-image img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1000px) {
  h2 .section-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }
}

/* ビジネス */
.business {
  margin-top: 120px;
}
.card {
  display: flex;
  margin: 140px 160px;
  justify-content: center;
}
.card-item {
  width: 275px;
  margin-right: 33px;
  margin-left: 33px;
}
.card-heading {
  text-align: center;
  margin-bottom: 24px;
  font-size: 40px;
}
.card-title {
  font-size: 32px;
  font-weight: 600;
  color: #003DA5;
  text-align: center;
}
.card-txt {
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .card-item {
    margin-bottom: 100px;
  }
  .card-title {
    padding: 20px 0;
  }
}

/* お知らせ */
.information {
  margin: 120px 160px;
}
.info-row {
  display: flex;
  justify-content: center;
}
.date {
  font-size: 32px;
  font-weight: 600;
  margin: 52.5px 45px 24px 24px;
}
.news {
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  width: 100px;
  padding: 6px;
  border: 1px solid #000;
  text-align: center;
  margin: 52.5px 45px 24px 24px;
}
.caption {
  font-size: 32px;
  font-weight: 300;
  margin: 52.5px 45px 24px 24px;
}
@media (max-width: 1000px) {
  .info-row {
    flex-direction: column;
    align-items: right;
  }
}

/* コンタクト */
.contact {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background: url("../images/visual-img04.png") center center /cover no-repeat;
}
.logo {
  margin-left: 170px;
  font-size: 30px;
  font-weight: bold;
  color: #003DA5;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.box-item {
  margin-left: 49px;
  margin-right: 49px;
}
.box-item p {
  font-size: 24px;
}
.access-address p {
  font-size: 24px;
}
.nav-item a {
  color: #333;
  font-size: 16px;
  font-weight: 300;
}
.sns-list {
  display: flex;
  justify-content: center;
}
.sns-item {
  padding-left: 16px;
}
.sns p img {
  margin-top: 28px;
}
.copyright {
  padding: 30px 0 30px;
  text-align: center;
}
@media (max-width: 1000px ) {
  .box {
    flex-direction: column;
  }
  .box-item {
    margin-bottom: 50px;
  }
}

/* --------------------------- */
/* ドローン */
/* --------------------------- */
.drone {
  margin-top: 125px;
}

.group {
  justify-content: center;
  text-align: center;
  background: url("../images/visual-img02.png");
  background-position: center;
}

.description {
  margin: 70px 300px;
}

.sub-visual {
  text-align: right;
}

.container-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.container-heading {
  font-size: 30px;
  margin: 70px 110px;
}

.container-heading span {
  display: block;
  font-size: 15px;
}

.container-middle {
  display: flex;
  justify-content: space-around;
}

.container-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* 資格 */

.title {
  font-size: 60px;
  font-weight: bolder;
  position: relative;
  left: 700px;
  bottom: 500px;
}

.certificate {
  margin-top: 90px;
}

.section-heading {
  font-size: 60px;
  text-align: center;
}

.section-heading span {
  font-size: 40px;
  display: block;
}

.content-certificate {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.image-middle {
  text-align: center;
}

.area {
  margin-top: 200px;
}

.image-bottom {
  width: 100%;
  object-fit: cover;
}

.area-text {
  font-size: 60px;
  font-weight: bolder;
  position: relative;
  left: 700px;
  bottom: 500px;
}

.button {
  position: relative;
  left: 700px;
  bottom: 500px;
}

/* フッター */
